
.bg {
    background-image: url(../../img/pasteleria.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}



body {

background: #FFD9E0;
background: radial-gradient(at center, #FFB5E9, #FFD9E0);
font-size: small;

    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* */

.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #FFD9E0;
    padding: 15px;
    z-index: 99;
  }
  .logo {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
  }
  .sidebar a {
    color: black;
    text-decoration: none;
   
  }
  .menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
  }
  .menu-content::-webkit-scrollbar {
    display: none;
  }
  .menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
  }
  .submenu-active .menu-items {
    transform: translateX(-56%);
  }
  .menu-title {
    
    color: black;
    font-size: 14px;
    padding: 15px 20px;
  }
  .item a,
  .submenu-item {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
    
  }
  .item i {
    font-size: 12px;
  }
  .item a:hover,
  .submenu-item:hover,
  .submenu .menu-title:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    cursor: pointer;
    
  }
  .submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background: #FFD9E0;
    display: none;
  }
  .show-submenu ~ .submenu {
    display: block;
  }
  .submenu .menu-title {
    border-radius: 12px;
    cursor: pointer;
  }
  .submenu .menu-title i {
    margin-right: 10px;
  }
  .navbor,
  .main {
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .sidebar.close ~ .navbor,
  .sidebar.close ~ .main {
    left: 0;
    width: 100%;
  }
  .navbor {
    position: fixed;
    color: black;
    padding: 15px 20px;
    font-size: 12px;
    background: #FFD9E0;
    cursor: pointer;
  }
  .navbor #sidebar-close {
    cursor: pointer;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 100;
    background: #fff;
  }
  .main h1 {
    color: #11101d;
    font-size: 30px;
    text-align: center;
  }
   
.navbor .user {

 margin-left: 10px;
 
}

  .blanco {
    color: #fff;
    text-decoration: none;
  }

  .sidebar .menu-items .item img {
    width: 20px;
    height: 20px;
    
  }

  .navbor span img {
    width: 25px;
    height: 25px;
    
  }

  td span img  {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  h1 span img {
  width: 20px;
    height: 20px;

  }


  .ocultar {

    display: none;
  }

 div {

  animation: fadeIn 0.8s ease;

 }


@keyframes fadeIn {
  0% {opacity: 0;}
}


button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modale-body label {
  margin-top: 0px;
  display: block;
  
}

.modale-body input {
  margin-bottom: 8px;
}

.modale-body button {
  display: block;
  margin: 0 auto;
}

.modale {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
border-radius: 4px;
background-color: white;
width:500px;
height:460px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
pointer-events: all;
}

.modale-header{
  text-align: center;
}

.modale-header h5 {
  border-radius: 4px;
  color: white;
  background-color: skyblue;
  padding: 8px;
}

.modale-header h5 span{ 
  float: right;
  cursor: pointer;
}

.modale-header h5 span:hover{ 
  color: #11101d;
  transition: 0.8s;
}

.modale-body {
  text-align: center;
}


.pointereven {
  pointer-events: none;
}

.bck {
  position: absolute;
  background-color: black;
  opacity: 80%;
  width: 100%;
  height: 100%;
}
#TituloEnc,#Titulo,#Tituloemp,#Tituloprod{
	display: inline;
}



.imgtabla{
	width:15px
}

.vertscrol {
	
	 max-height: 300px; /* altura máxima del contenedor */
  overflow-y: auto; 
}

td span img {
	width:90px;
	height: 90px
}


#imgcon{
		
	  justify-content: center;
  align-items: center;
}
#imagedefe {

	width:60px;
	height: 60px
}



#btnActualizarProducto {
	margin-bottom: 10px;
	
}